<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">rootman01</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://192.168.22.133:1433;databaseName=museum</property>
		<property name="hibernate.connection.username">museum</property>
		<property name="hibernate.default_catalog">museum_security</property>
		<property name="hibernate.default_schema">dbo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<mapping resource="com/ciessa/museum/model/User.hbm.xml"></mapping>
		<mapping resource="com/ciessa/museum/model/DataSet.hbm.xml"></mapping>
		<mapping resource="com/ciessa/museum/model/AuditEntry.hbm.xml"></mapping>

	</session-factory>

</hibernate-configuration>
