<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- ** IoC Spring Container ** -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- Simple filter to avoid cross domain issues on PhoneGap Apps -->
	<filter>
		<filter-name>CrossDomainServletFilter</filter-name>
		<filter-class>com.ciessa.museum.tools.CrossDomainServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CrossDomainServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Character Set Encoding Filter... Forces everyone to work in UTF-8 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ** Servlet for REST graph api ** -->
	<servlet>
		<servlet-name>REST</servlet-name>
		<!-- <servlet-class>org.restlet.ext.spring.RestletFrameworkServlet</servlet-class> -->
		<servlet-class>com.ciessa.museum.tools.MuseumRestletFrameworkServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Servlet that handles initial configuration -->
	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>com.ciessa.museum.tools.InitAppServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>